name: Check for removed URLs
on:
  workflow_dispatch: {}
jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout PR branch
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        path: compare
    - name: Checkout base branch
      uses: actions/checkout@v5
      with:
        ref: ${{ github.event.pull_request.base.ref }}
        repository: ${{ github.event.pull_request.base.repo.full_name }}
        fetch-depth: 0
        path: base
    - uses: actions/setup-python@v6
    - name: Build docs
      run: "for dir in compare base; do\n  pushd ${dir}/docs\n  make install\n  .\
        \ .sphinx/venv/bin/activate\n  make html\n  popd\ndone\n"
    - name: Generate current URLs list
      run: "for dir in compare base; do\n  pushd ${dir}/docs\n  find ./_build/ -name\
        \ '*.html' \\\n  | sed 's|/_build||;s|/index.html$|/|;s|.html$||' \\\n  |\
        \ sort > urls.txt\n  popd\ndone\n"
    - name: Compare URLs
      run: "BASE_URLS_PATH=\"base/docs/urls.txt\"\nCOMPARE_URLS_PATH=\"compare/docs/urls.txt\"\
        \nremoved=$(comm -23 ${BASE_URLS_PATH} ${COMPARE_URLS_PATH} )\nif [ -n \"\
        $removed\" ]; then\n  echo \"The following URLs were removed:\"\n  echo \"\
        $removed\"\n  echo \"Please ensure removed pages are redirected\"\n  exit\
        \ 1\nfi\n"
