name: Markdown style checks
on:
  workflow_call: null
  push:
    branches:
    - main
    paths:
    - docs/**
  pull_request:
    branches:
    - '*'
    paths:
    - docs/**
jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Create venv
      working-directory: docs
      run: make install
    - name: Lint markdown
      working-directory: docs
      run: make lint-md
