name: Sphinx python dependency build checks
on:
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Install dependencies
      run: "set -ex\nsudo apt-get --fix-missing update\nsudo apt-get -y install \\\
        \n  cargo \\\n  libpython3-dev \\\n  libxml2-dev \\\n  libxslt1-dev \\\n \
        \ make \\\n  python3-venv \\\n  rustc \\\n  libtiff5-dev libjpeg8-dev libopenjp2-7-dev\
        \ zlib1g-dev libfreetype6-dev liblcms2-dev libwebp-dev tcl8.6-dev tk8.6-dev\
        \ python3-tk libharfbuzz-dev libfribidi-dev libxcb1-dev\n"
    - name: Build Sphinx venv
      working-directory: docs
      run: "set -ex\nmake install \\\n  PIPOPTS=\"--no-binary :all:\" \\\n  || ( cat\
        \ .sphinx/venv/pip_install.log && exit 1 )\n"
