name: Vale style checks
on:
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  vale-style:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: errata-ai/vale-action@v2.1.1
      with:
        files: docs
        vale_flags: --config=.vale/style.ini
